<div class="row">
    <p></p>
    <div class="medium-4 columns">
        <ul class="inline-list">
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/help">Help</a></li>
            <li><a href="#/feedback">Feedback</a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        <form method="post" class="form-suggestions">
            <div class="row">
                <div class="medium-4 columns">
                    <label class="right inline">Have feedback?</label>
                </div>
                <div class="medium-6 columns">
                    <input type="text" placeholder="Tell us how we can improve!" />
                </div>
                <div class="medium-2 columns">
                    <input type="submit" class="button tiny secondary" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>