<div class="row">
    <div class="small-12 columns">
        <div data-alert class="alert-box secondary clearfix">
            <h3>Notifications</h3>
            <p class="notification">
                <a href="#">Lorem ipsum</a> - dolor sit amet, consectetur adipiscing elit. Donec quis nunc blandit, consequat lorem malesuada, varius risus. Pellentesque nec purus dolor. Suspendisse commodo cursus nibh a dictum.
            </p>
            <p class="notification">
                <a href="#">Etiam in</a> pellentesque magna. Vestibulum urna risus, varius a tincidunt at, dapibus eget ante. Nunc luctus, urna in rhoncus dignissim, magna tellus congue nibh, at efficitur sem lectus ac felis.
            </p>
            <a href="#" class="button small right">See All</a>
            <a href class="close">&times;</a>
        </div>
    </div>
</div>
